<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="22062d69-b33c-429d-9643-584d0b023e83"
            Publisher="CN=Li"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MandelbrotViewer</DisplayName>
    <PublisherDisplayName>Li</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>MandelbrotViewer</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MandelbrotViewer.App">
        <VisualElements
            DisplayName="MandelbrotViewer"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MandelbrotViewer"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>